/*       BASE         */

#getFixed{
  width: 100%;
  height: 60px;
  background: green;
  display: none;
  z-index: 999;
}

#header {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.navbar-inverse{
  border-color: #00000000 !important;
  width: 100%;
  overflow: hidden;
}

hr{
  border-color: rgba(255, 255, 255)!important;
}


a {
  color: lightgrey;
}

ul.nav a:hover{ 
  color: black!important;
}

#productnav ul li.active  a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: lightgrey !important;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #00000000!important;
}


/*       HOME-PAGE        */


#homepage-image{
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#left-links {
  width: 100%;
  text-align: right;
}
#left-links > li {
   float: none;
   display: inline-block;
   font-size: 1.5em;
 }


#centered-links {
  width: 100%;
  text-align: center;
}
#centered-links > a, #centered-links > li {
  float: none;
  display: inline-block;
  font-size: 1.5em;
}

#home-navigation{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.Homepage-Image {
  position: relative;
  text-align: center;
}

.centered {
  color:white;
  font: bold;
  font-size: 2.3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -180%);
  z-index: 99998;
}


  
/*      OTHER      */

.bold{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: large;
  color: rgba(100, 100, 100);
}

.release{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: large;
  color: rgba(100, 100, 100);
}



html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("Homepage-Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 10px;
}

.column img {
  margin-top: 8px;
  margin-left : 8px;
  margin-right: 40px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .navbar-inverse {
    border-color: #00000000!important;
    background-color: black !important;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
