#header {
  background-image:url("BlueSky.jpg");
  background-size: 100% auto;
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar.navbar-inverse {
  padding: 10px 0;
 /* background: rgba(0, 0, 0, 0)!important;
  border-color: transparent;*/
  border: none;
  margin-bottom: 0;
}

.navbar-inverse{
  border-color: #00000000 !important;
}

.navbar.navbar-inverse .navbar-collapse, .navbar.navbar-inverse, .navbar-inverse .navbar-form{
  padding: 10px 0;
 /* background: rgba(0, 0, 0, 0)!important;
  border-color: transparent;*/
  border: none;
  margin-bottom: 0;
}

#divider{
  color: rgba(0, 0, 0, 0)!important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("Homepage-Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}