<div>
  <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/dashboard_movies';"> Movies</button>
  <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/dashboard_contacts';"> Contacts</button>
  <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/dashboard_news';"> News</button>
  <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/dashboard_info';"> Info</button>
  <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/dashboard_design';"> Design</button>
</div>