<!-- <div>
  <a href='/movies/{{movie.title_DE}}'class="mov_img_preview">
    <img src="{{movie.image_url}}" alt="Default Movie Poster"/>
  </a>
  <h3 >{{movie.title_DE }} | {{movie.title_EN}} {{movie.release_date}}</h3 > 
</div> -->



    <div>
        <a href='/movies/{{movie.title_DE}}'class="mov_img_preview">
          <img src="{{movie.image_url}}" height="495px" width="330px" alt="Default Movie Poster"/>
        </a>
        <div class="caption">
          <span class="bold">{{movie.title_DE }} | {{movie.title_EN}}</span><span class="release"> {{movie.release_date}}</span>
        </div>
  </div>
  