{% extends "base.html" %}
{% block content %}

<div class="row">
  <img id="header" src="{{designImage.image_url}}" alt="My image"/>
  <div class="col-md-3"></div>
</div>
  
<div class="container">
  <div class="col"><hr></div>
  <h1>About</h1>

  
  <div class="col"><hr></div>

  <!-- <p> {{data}} </p> -->

  <div class="col"><hr></div>

  <div class="col"><hr></div>

  <h4>{{general.username}}</h4>
  <p>{{general.email}}</p>

  <div class="col see"><hr></div>

  {% if about_users | length > 0 %}
  {%for user in about_users%}
    <h4>{{user.username}}</h4>
    <p>{{user.email}}</p>
  {%endfor%}
  {%else%}
    <i>No user yet.</i>
  {%endif%}

  <div class="col see"><hr></div>

  <!-- Facebook, Twitter, Youtube -->




  
</div>
{%endblock%}