{% extends "base.html" %}

{% block content %}

<div class="row">
  <img id="header" src="/static/Header1.jpg" alt="My image"/>
  <div class="col-md-3"></div>
</div>

<div class="container">

  <h1>Movies</h1>
  <button onclick ="window.location = '/edit_movie';"> Add Movie</button>
  {% if movies | length > 0 %}
      {%for movie in movies%}
      <div>
        {% include '_movie_preview.html' %}
        <button onclick ="window.location = '/movies/{{movie.title_DE}}';"> See </button>
        <button onclick ="window.location = '/edit_movie?id={{movie.id}}';"> Edit </button>
        <button onclick ="window.location = '/delete_movie?id={{movie.id}}';"> Delete </button>
      </div>
    {%endfor%}
  {%else%}
    <i>No movie yet.</i>
  {%endif%}


  <h1>Post</h1>
  <button onclick ="window.location = '/edit_post';"> Add Post</button>
  {% if posts | length > 0 %}
    {%for post in posts%}
        <div>
          {% include '_post.html' %}
          <button onclick ="window.location = '/posts/{{post.title}}';"> See </button>
          <button onclick ="window.location = '/edit_post?id={{post.id}}';"> Edit </button>
          <button onclick ="window.location = '/delete_post?id={{post.id}}';"> Delete </button>
        </div>
    {%endfor%}
  {%else%}
    <i>No post yet.</i>
  {%endif%}

</div>
{%endblock%}