{% extends "base2.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

  
<div class="container">
  <div class="col"><hr></div>
  {% include '_dashboard.html' %}
  <h1>Info</h1>
  <p>Current User: 
  {% if about_users | length > 0 %}
    {%for user in about_users%}
      {{user.username}}
    {%endfor%}
  {%else%}
    <i>No user yet.</i>
  {%endif%}
  </p>


  <form method="POST" enctype="multipart/form-data" action="" >
    <div class = "row">
      <div class = "col-md-4">
        <d1>
          {{ wtf.quick_form(form) }}
          <input type="submit" class="btn btn-outline-primary" value="Absenden">
        </d1>
      </div>
    </div>
  </form>
</div>

  
{%endblock%}