{% extends "base2.html" %}
{% block content %}
  
  <div class="container">
  <div class="col"><hr></div>


  {% include '_dashboard.html' %}
  <h1>Contact</h1>
  <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/edit_contact';"> Add Contact</button>
  <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/register';"> Add User</button>

  {% if contacts | length > 0 %}
    {%for contact in contacts%}
        <div>
          {% include '_contact.html' %}
          <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/contacts/{{contact.id}}';"> See </button>
          <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/edit_contact?id={{contact.id}}';"> Edit </button>
          <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/delete_contact?id={{contact.id}}';"> Delete </button>
        </div>
    {%endfor%}
  {%else%}
    <i>No contact yet.</i>
  {%endif%}

  </div>
{%endblock%}