{% extends "base2.html" %}
{% block content %}
  
  <div class="container">
  {% include '_dashboard.html' %}
  <div class="col"><hr></div>

  
  <h1>Contact</h1>
  <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/edit_contact';"> Add Contact</button>
  <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/register';"> Add User</button>

  <div class="col"><hr></div>


  {% if contacts | length > 0 %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">E-mail</th>
        <th scope="col">Profession</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {%for contact in contacts%}
    <tbody>
      <tr>
        <td>{{contact.name}}</td>
        <td>{{contact.surname}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.profession}}</td>
        <td>
          <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/contacts/{{contact.id}}';"> See </button>
          <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/edit_contact?id={{contact.id}}';"> Edit </button>
          <button type="button" class="btn btn-outline-secondary" onclick ="window.location = '/delete_contact?id={{contact.id}}';"> Delete </button>
        </td>
      </tr>
    </tbody>
    {%endfor%}
  </table>
{%else%}
  <i>No movie yet.</i>
{%endif%}

  </div>
{%endblock%}