{% extends "base.html" %}

{% block content %}

<div class="row">
  <img id="header" src="/static/Header1.jpg" alt="My image"/>
  <div class="col-md-3"></div>
</div>

<div class="container">

    <div class="col" id="divider"><hr></div>
  {% include '_dashboard.html' %}
  <h1>Movies</h1>
  <button onclick ="window.location = '/edit_movie';"> Add Movie</button>
  {% if movies | length > 0 %}
      {%for movie in movies%}
      <div>
        {% include '_movie_preview.html' %}
        <button onclick ="window.location = '/movies/{{movie.title_DE}}';"> See </button>
        <button onclick ="window.location = '/edit_movie?id={{movie.id}}';"> Edit </button>
        <button onclick ="window.location = '/delete_movie?id={{movie.id}}';"> Delete </button>
      </div>
    {%endfor%}
  {%else%}
    <i>No movie yet.</i>
  {%endif%}
  </div>
{%endblock%}