{% extends "base2.html" %}


{% block app_content %}

  <div class="row movieinfo">
    <div class="col-sm-6">
      <div>
        <img src="{{movie.image_url}}" alt="Movie Image"/>
      </div>
    </div>
    <div class="col-sm-6">
      <h2 style="font-weight:bold">{{movie.title_DE }} | {{movie.title_EN}}</h2>
        <div>
          <p>{% if movie.release_date | length > 0 %}
          {{movie.release_date}}
          {%endif%}
          | {{movie.isColored}}
          {% if movie.format | length > 0 %}
              {%for frm in movie.format%}
               | {{frm}} {% if ((movie.format | length > 1) and (not loop.last)) %}|{%endif%}
              {%endfor%}
            {%endif%}
          {% if movie.language | length > 0 %}
                {%for lng in movie.language%}
                  | {{lng}} {% if ((movie.language | length > 1) and (not loop.last)) %}|{%endif%}
                {%endfor%}
            {%endif%}
          {% if movie.duration | length > 0 %}
          | {{movie.duration}} min
          {%endif%}
          </p>

        </div>
        <br>
        <div>
          {% if movie.synopsis | length > 0 %}
          <p class="bold">Synopsis:</p>
          {{movie.synopsis}}

        </div>
        <br>
        <div>
          {%endif%}
          {% if movie.awards | length > 0 %}
          <p class="bold">Awards:</p>
              {%for award in movie.awards%}
                {{award}} {% if ((movie.awards | length > 1) and (not loop.last)) %}|{%endif%}
              {%endfor%}
          {%endif%}
        </div>
        <br>
        <div>
          {% if movie.screenings | length > 0 %}
          <p class="bold">Screenings:</p>
              {%for screening in movie.screenings%}
                {{screening}} {% if ((movie.screenings | length > 1) and (not loop.last)) %}|{%endif%}
              {%endfor%}
        </div>
        <br>
        <div>
          {%endif%}
          {% if movie.supporters | length > 0 %}
          <p class="bold">Supporters:</p>
              {%for supporter in movie.supporters%}
                {{supporter}} {% if ((movie.supporters | length > 1) and (not loop.last)) %}|{%endif%}
              {%endfor%}
          {%endif%}
        </div>
      </div>
  </div>

  <div style="text-align: center;">
      <div class="col"><hr></div>
      <div class="col see"><hr></div>

      <p class="bold">Credits List</p>
      <table class="table">
          <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              {% if movie.directors | length > 0 %}
              <p class="bold"> Directors:</p>
              {%for director in movie.directors%}
                {{director}} {% if ((movie.directors | length > 1) and (not loop.last)) %}|{%endif%}
              {%endfor%}

              {%endif%}
            </tr>
              {% if movie.producers | length > 0 %}
              <p class="bold"> Producers:</p>
                  {%for producer in movie.producers%}
                    {{producer}} {% if ((movie.producers | length > 1) and (not loop.last)) %}|{%endif%}
                  {%endfor%}
              
              {%endif%}
              {% if movie.executive_producers | length > 0 %}
              <p class="bold"> Executive Producers:</p>
                  {%for executive_producer in movie.executive_producers%}
                    {{executive_producer}} {% if ((movie.executive_producers | length > 1) and (not loop.last)) %}|{%endif%}
                  {%endfor%}
              
              {%endif%}
              {% if movie.editors | length > 0 %}
              <p class="bold"> Editors:</p>
                  {%for editor in movie.editors%}
                    {{editor}} {% if ((movie.editors | length > 1) and (not loop.last)) %}|{%endif%}
                  {%endfor%}
              
              {%endif%}
              {% if movie.cinematography | length > 0 %}
              <p class="bold"> Cinematography:</p>
                  {%for cinematograph in movie.cinematography%}
                    {{cinematograph}} {% if ((movie.cinematography | length > 1) and (not loop.last)) %}|{%endif%}
                  {%endfor%}
              
              {%endif%}
              {% if movie.sound_recordist | length > 0 %}
              <p class="bold"> Sound Recordist:</p>
                  {%for sound_record in movie.sound_recordist%}
                    {{sound_record}} {% if ((movie.sound_recordist | length > 1) and (not loop.last)) %}|{%endif%}
                  {%endfor%}
              
              {%endif%}
              {% if movie.sound_mix | length > 0 %}
              <p class="bold"> Sound Mix:</p>
                  {%for sound_mi in movie.sound_mix%}
                    {{sound_mi}} {% if ((movie.sound_mix | length > 1) and (not loop.last)) %}|{%endif%}
                  {%endfor%}
              
              {%endif%}
              {% if movie.color | length > 0 %}
              <p class="bold"> Color:</p>
                  {%for colo in movie.color%}
                    {{colo}} {% if ((movie.color | length > 1) and (not loop.last)) %}|{%endif%}
                  {%endfor%}
              
              {%endif%}
            </tbody>
          </table>
    </div >
{%endblock%}
