{% extends "base.html" %}

{% block content %}

<div class="row">
  <img id="header" src="{{designImage.image_url}}" alt="My image"/>
  <div class="col-md-3"></div>
</div>

<div class="container">
    <div class="col"><hr></div>

  


<div class="row" style="text-align: center">
    <div class="col-sm-2"></div>
  <div class="col-sm-8">
      {% if posts | length > 0 %}
      {%for post in posts%}
    <div class="thumbnail">
      <div class="caption">
          {% include '_post.html' %}
        </div>
      </div>
        {%endfor%}
    {%else%}
      <i>No post yet.</i>
    {%endif%}

  </div>
  <div class="col-sm-2"></div>
</div>


</div>
{%endblock%}


