<!DOCTYPE  html>
<html  lang="en">

<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>

<head>
</head>

<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">
                  <img src="/static/home_icon.png" width="30" height="30" alt="">

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item active">
                      <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link" href="/">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filme
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">Action</a>
                        <a class="dropdown-item" href="/">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>

{% if entries | length > 0 %}
{%for entry in entries%}
<h3 >{{entry.title }}</h3 >
<div >
    {{entry.name}}
    {{entry.release_date}}
</div >

<button onclick ="window.location = '/delete?id={{entry.id}}';"> Delete </button>
{%endfor%}
{%else%}
<i>No entry yet.</i>
{%endif%}

<form action="/add_entry" method="post">
    <div class="form-group px5">
        <label for="title">Movie Title</label><br>
        {{ form.title.label }} {{ form.title() }}
    </div>

    <div class="form-group">
        <span class="border"></span>
        <label for="release_date">Release Date</label><br>
        {{ form.release_date() }}
    </div>

    <div class="form-group">
        <label for="contact">Contact</label><br>
        {{ form.contact() }}
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Absenden">
</form>
</body>
</html>