{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  {% if entries | length > 0 %}
    {%for entry in entries%}
     <h3 >{{entry.title_DE }}</h3 >
      <div>
        {{entry.isReleased}}
        {{entry.release_date}}
      </div >
      <button onclick ="window.location = '/delete?id={{entry.id}}';"> Delete </button>
    {%endfor%}
{%else%}
  <i>No entry yet.</i>
{%endif%}

  <div class="container">
    <form method="POST" action="/add_entry" >
      <div class = "row">
        <div class = "col-md-4">
          <d1>
            {{ wtf.quick_form(form) }}
            <input type="submit" class="btn btn-outline-primary" value="Absenden">
          </d1>
        </div>
      </div>
      
    </form>
  </div>
{%endblock%}


